---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

<ul>
  <li><strong>Bridge Model:</strong> {{ bridge_model }}</li>
  <li><strong>Use Case:</strong> {{ use_case }}</li>
  <li><strong>Install Type:</strong> {{ install_type }}</li>
  <li><strong>Specs Summary:</strong> {{ specs_summary }}</li>
</ul>

<p>{{ intro_paragraph }}</p>

<p><a href="{{ cta_url }}">{{ cta_text }}</a></p>
